html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body
{
    background: url("../images/body.png");
    color: #4D4D4D;
}


.page-wrapper{
	display:flex;
	flex-direction: column;
	padding: 0 0 100px;
    position: relative;
	background-color: white;
    box-shadow: 0px 0px 8px #888888;
    margin-top: 10px;
}

.page-wrapper{
    max-width:800px;
    margin-left: auto;
	margin-right: auto;
	margin-bottom: 40px;
}

.page-header{
	background: url("../images/header.png");
	height: 100px;
    width:100%;
}

a{
    color: #4D4D4D;
    text-decoration:none;
}

h4{
    text-align:center;
}

.page-wrapper h2{
    margin-top:5px;
    margin-bottom:6px;
    margin-left:5px;
    display: inline-block;
}

.main-nav{
    float:right;
    margin-top:5px;
    font-size:18px;
    display: inline-block;
}

.main-nav ul{
    margin-top:0px;
}

.main-nav li{
    display:inline-block;
}

.main-nav a{
    padding: 4px 6px;
}

.quick-links ul ,
.rank-list ul{
	margin-top: 0px;
	padding: 0;
	list-style-type: none;
}

.quick-links ul li a,
.rank-list ul li {
	display:block;
	border-top: 2px solid white;
	text-align: center;
    height: auto;
    padding: 3px;
	word-wrap: break-word;
}

.quick-links ul li a:hover{
	background-color:#d3d3d3;
}

.quick-links,
.rank-list{
	margin-left:5px;
    margin-top:5px;
    padding-top:1px; 	
	background-color:#E8E6E6;
    max-width:150px;
	box-shadow: 0px 0px 8px #888888;
}

.nav{
    float:left;
    width: 130px;
}

.main-content{
    float: right;
	position:relative;
    margin: 10px;
	width: 75%;
	min-width:50px;
}

.latest-news-content p{
    text-align: justify;
    box-shadow: 0px 0px 6px;
    background-color: #F5F2F2;
    padding-left: 10px;
    padding-right: 10px;
    float: left;
    margin-right: 20px;
    width: 40%;
    height: 100px;
	overflow: overlay;
}

footer{
	background-color:#E8E6E6;
    bottom: 10px;
	height:auto;
	padding: 10px;
	position: absolute;
	width: 95%;
	text-align:center;
	margin-left: 10px;
}

